* {
    box-sizing: border-box;
    color: white;
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    margin: 0;
}

#game {
    padding-top: 20px;
    width: 320px;
    margin: auto;
    font-size: 25px;
}

.main {
    width: 320px;
    height: 620px;
    margin: 20px auto 0;
    border: 10px solid silver;
    font-size: 0;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    display: inline-block;
}

.movingCell {
    background-color: #8c7540;
}

.fixedCell {
    background-color: #312812;
}

#next-tetro {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 0;
  }

button {
    border: none;
    background: #252525;
    padding: 8px 40px;
    margin: 20px auto 0;
}

button:hover {
    background: #494949;
}

.start {
    border-radius: 0 10px;
    color: #ffffff;
}

.pause {
    border-radius: 10px 0;
    margin-left: 20px;
    color: #ffffff;
}